/* General */
@font-face {
  font-family: rocksalt;
  src:url(assets/RockSalt-Regular.ttf);
}
body {
  font-family: rocksalt, "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

/* Table General */
.table__main {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 3px solid #800080;
  text-align: center;
  font-size: 70%;
}

/* Table Head & Foot */
.table__head, .table__foot {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0.5)
  ), url(assets/leopardskin.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.table__head th, .table__foot td {
  border: 3px solid #800080;
  padding: 1.5%;
  color: white;
  text-shadow: 1px 1px black;
}

/* Table Body */
.table__body {
  background-image: url(assets/noise.png);
  font-family: "Helvetica Neue", helvetica;
  border-width: 0;
}
.table__body tr:nth-child(odd) {
  background-color: #ff33cc;
}
.table__body tr:nth-child(even) {
  background-color: #e495e4;
}
.table__body td:first-child {
  font-weight: bold;
}
.table__body td {
  padding: 1%;
}

/* Table Foot */
.table__foot td:first-child {
  text-align: right;
}
.table__foot td:last-child {
  text-align: left;
  font-family: "Helvetica Neue", helvetica;
}

/* Table Caption */
.table__caption {
  caption-side: bottom;
  text-align: right;
  font-style: italic;
}