/* General */
@font-face {
  font-family: rocksalt;
  src:url(assets/RockSalt-Regular.ttf);
}
body {
  font-family: rocksalt, "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

/* Table General */
.table__main {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  border: 3px solid #800080;
}

/* Table Head & Foot */
.table__head, .table__foot {
  background-image: url(assets/leopardskin.jpg);
  color:white;
}
.table__head th, .table__foot td {
  border: 3px solid #800080;
}

/* Table Body */
.table__body {
  background-image: url(assets/noise.png);
  font-family: "Helvetica Neue", helvetica;
  border-width: 0;
}
.table__body tr:nth-child(odd) {
  background-color: #ff33cc;
}
.table__body tr:nth-child(even) {
  background-color: #e495e4;
}
.table__body td:first-child {
  font-weight: bold;
}

/* Table Foot */
.table__foot td:first-child {
  text-align: right;
}
.table__foot td:last-child {
  text-align: left;
}

/* Table Caption */
.table__caption {
  caption-side: bottom;
  text-align: right;
}